@keyframes fade-inout{
  0%{ opacity: 0;}
  100%{opacity: 1;}
}
.fade-in-fade-out{
  animation: fade-inout 5s;
  font-size: 5em;
  text-allign: center;
  position: absolute;
  
  left: 50%;
  transform: translateX(-50%);
}
