@keyframes fade-inout{
  0%{ opacity: 0;}
  100%{opacity: 1;}
}

.container{
  padding: 2rem;
}

.slider-wrapper{
  position: relative;
  max_width: 48;
  margin: 0 auto;
}

.slider{
  display: flex;
  aspect-ratio: 16/9;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behaviour: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
}

.slider img{
  flex: 1 0 %100;
  scroll-snap-align: start;
  object-fit: cover;
}


.fade-in-fade-out{
  animation: fade-inout 5s;
  font-size: 5em;
  text-allign: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
